*.obj
*.dot
*.log
*.pyc
ww.debug
ww.mallet
ww.txt
octave-workspace
.DS_Store
report/facts.txt
report/lda-plate-notation.png
report/references.bib
report/bibfile.bib
report/fcc-nnc-report*
logs/
mallet-data/bigram/
mallet-data/uni+bigram/
mallet-data/unigram/
mallet-data.v?/
