*.obj
*.dot
*.log
*.pyc
ww.debug
ww.mallet
ww.txt
octave-workspace
.DS_Store
report/fcc-nnc-report*
report/bibfile.bib
report/ps/
logs/
mallet-data/bigram/
mallet-data/uni+bigram/
mallet-data/unigram/
mallet-data.v?/
